.button {
  background-color: rgb(246, 131, 32);
  color: white;
  width: 120px;
  outline: none;
}

.marL {
  margin-left: 0.5rem;
}

.button:hover {
  background-color: orange;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
  .marL {
    margin-left: 0rem;
  }
}
